@import "@/styles/variables.scss";

.button {
    cursor: pointer;
    margin: 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding: 10px 20px;
}

.btnPrimary {
    background-color: $primary;
    border-radius: $borderRadius;
    color: $light;
    border: 1px solid $primary;

    &:hover {
        background-color: $light;
        border-radius: $borderRadius;
        color: $primary;
        border: 1px solid $primary;
        transition: all .3s;
    }
}

.btnOutline {
    border-radius: $borderRadius;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
        background-color: $primary;
        border-radius: $borderRadius;
        color: $light;
        transition: all .6s;
    }
}

.btnText {
    color: #3297E3;
    text-decoration: underline;
    font-size: 14px;
    float: right;
    padding: 10px 0;
    margin: 10px;
    transition: all .3s;

    &:hover {
        color: $primary;
    }
}

.btnIcon {
    color: $light;
    background-color: $primary;
    width: 25px;
    // height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
    transition: all .3s;

    svg {
        width: 20px;
        height: 20px;
    }


    &:hover {
        color: $orange;
    }
}