@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;900&display=swap');

$NotoSansTC: 'Noto Sans TC',
sans-serif;

// colors
$primary: #3365AD;
$secondary: #FCF6C6;
$orange: #E9B643;
$dark: #3D3D3D;
$text: #3D3D3D;
$blue: #3297e3;
$light: #ffffff;
$gray: #F3F3F3;
$darkGray: #B7B7B7;
$bg: #f2f2f2;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 3px;

// header height
$headerHeight: 80px;

// box shadow
$boxShadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

@mixin breakpoint($point) {
    @if $point==md {

        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}