@import "@/styles/variables.scss";

.container {
    // height: calc(100vh - 2*#{$headerHeight});
    // height: 200vh;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 1.5rem;

    @include breakpoint(md) {
        // padding: 0 10rem;
    }

    h1 {
        padding: 1.5rem 2.5rem;
        background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
        border-radius: $borderRadius calc(#{$borderRadius} * 10);
    }

    h2 {
        text-align: center;
        font-size: 32px;
        line-height: 45px;
        font-weight: 500;
        color: $primary;

        @media screen and (max-width: $phone) {
            font-size: 26px;
        }
    }

}