@import "@/styles/variables.scss";

.container {
    padding: 0.3rem 1.5rem;

    @include breakpoint(md) {
        padding: 2rem 10rem;
    }

    &__content {
        padding-bottom: 5rem;

        &__title {
            padding-bottom: 25px;

            @media screen and (max-width: $phone) {
                padding-bottom: 5px;
            }
        }
    }
}