@import "@/styles/variables.scss";

.type {
    padding: 0rem 10rem;

    &__content {
        display: flex;
        padding-bottom: 40px;


        &__img {
            flex: 0 0 50%;
            max-width: 50%;

            img {
                margin-top: -20px;
                height: calc(100% + 60px);
                max-width: 100%;
                vertical-align: middle;
                border-style: none;
            }

            @media screen and (max-width: 768px) {
                //TODO 圖片壓上去
                display: none;
            }
        }

        &__group {
            // flex: 3;
            flex: 0 0 50%;
            max-width: 50%;
            height: 100%;

            h2 {
                text-align: left;
                font-size: 28px;

                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }

            &__title {
                margin-top: 50px;
                margin-bottom: 25px;

                @media screen and (max-width: 768px) {
                    margin-top: 30px;
                    padding-bottom: 5px;
                }
            }

            &__btnGroup {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem 20px;

                a {
                    img {
                        transform: scale(1, 1);
                        transition: all .3s ease-out;
                    }

                    p {
                        transition: all .3s ease-out;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2, 1.2);
                        }

                        p {
                            font-weight: 500;
                            color: $primary;
                        }
                    }
                }

                &__btn {
                    background-color: $light;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
                    border-radius: 20px;
                    padding: 25px 25px;

                    &__item {
                        display: flex;
                        align-items: center;

                        &__text {
                            margin-left: 1rem;
                            transition: all .3s ease-out;
                        }

                        @media screen and (max-width: 1200px) {
                            img {
                                width: 25%;
                            }
                        }

                        @media screen and (max-width: 768px) {
                            img {
                                width: 25%;
                            }
                        }
                    }

                    @media screen and (max-width: 1200px) {
                        padding: 20px 15px;
                    }
                }

                @media screen and (max-width: 1200px) {
                    gap: 1rem 1rem;
                }

                @media screen and (max-width: 768px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0.5rem 1rem;
                }
            }

            @media screen and (max-width: 768px) {
                flex: 0 0 100%;
                max-width: 100%;
            }

        }
    }

    @media screen and (max-width: 1200px) {
        padding: 0rem 4rem;
    }

    @media screen and (max-width: 768px) {
        padding: 0rem 1.5rem;
    }
}